NODE_ENV=production
PORT=3001
PROJECT_NAME=boilerplate


DATABASE_URL="postgresql://user:password@host.docker.internal:5432/boilerplate"
SHADOW_DATABASE_URL="postgresql://user:password@host.docker.internal:5432/boilerplate_shadow"
REDIS_URL="redis://host.docker.internal:6379"


JWT_SECRET=

SMTP_USER=
SMTP_PASS=

LOG_LEVEL=info



VITE_API_URL=