NODE_ENV=development
PORT=3000
PROJECT_NAME=boilerplate


DATABASE_URL="postgresql://USER:PASSWORD@host.docker.internal:5432/boilerplate"
SHADOW_DATABASE_URL="postgresql://USER:PASSWORD@host.docker.internal:5432/boilerplate_shadow"

REDIS_URL="redis://host.docker.internal:6379"


JWT_SECRET=

SMTP_USER=
SMTP_PASS=

LOG_LEVEL=debug